<div class="site-header">

    <nav class="site-nav">
        {% for page in site.data.nav %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
    </nav>


	{% if page.title == 'Bitcoin to Satoshi' or page.title == 'Satoshi to Bitcoin' %}
    <h1>
     <span>
      <a class="site-title" href="{{ page.url }}">{{ page.title }}</a>
     </span>
    </h1>
    {% endif %}

	{% if page.title == 'Bitcoin to Satoshi' %}
	
	<!- insert Bitcoin to Satoshi Calculator here ->
	
	{% elsif page.title == 'Satoshi to Bitcoin'  %}
	
	<!- insert Satoshi to Bitcoin Calculator here ->
	
	{% endif %}


</div>
