<div class="site-header">

    <nav class="site-nav">
        {% for page in site.data.nav %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
    </nav>


	{% if page.title == 'Bitcoin to Satoshi' or page.title == 'Satoshi to Bitcoin' %}
    <h1>
     <span>
      <a class="site-title" href="{{ page.url }}">{{ page.title }}</a>
     </span>
    </h1>
    {% endif %}

	{% if page.title == 'Bitcoin to Satoshi' %}
	
	<script type="text/javascript">
		$(function()
		{
			$("#bts-btc").bind('input',function(){
				if (isNaN($("#bts-btc").val()*2)) $("#bts-sts").val(0);
				else $("#bts-sts").val($("#bts-btc").val()*1000000000);
			});
		});
	</script>
	
	<div id="bts-conv">
		<input type="text" id="bts-btc"> BTC = <input type="text" id="bts-sts"> Satoshi
	</div>
	
	{% elsif page.title == 'Satoshi to Bitcoin'  %}
	
	<script type="text/javascript">
		$(function()
		{
			$("#stb-sts").bind('input',function(){
				if (isNaN($("#stb-sts").val()*2)) $("#stb-btc").val(0);
				else $("#stb-btc").val(($("#stb-sts").val()/1000000000).toFixed(9));
			});
		});
	</script>
	
	<div id="stb-conv">
		<input type="text" id="stb-sts"> Satoshi = <input type="text" id="stb-btc"> BTC
	</div>
	
	{% endif %}


</div>
