<div class="site-header">

    <nav class="site-nav">
        {% for page in site.data.nav %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endfor %}
    </nav>


	{% if page.title == 'Bitcoin to Satoshi' or page.title == 'Satoshi to Bitcoin' %}
    <h1>
     <span>
      <a class="site-title" href="{{ page.url }}">{{ page.title }}</a>
     </span>
    </h1>
    {% endif %}

	{% if page.title == 'Bitcoin to Satoshi' %}
	
	<script type="text/javascript">
		jQuery(function()
		{
			jQuery("#bts-btc").bind('input',function(){
				s = jQuery("#bts-btc").val().toString().replace(/\,/g,'');
				if (s>=1000)
				{
					b = s.toString().split(".");
					b[0] = b[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
					c = b.join('.');
					jQuery("#bts-btc").val(c);
				}
				if (isNaN(s*2)) jQuery("#bts-sts").val(0);
				else 
				{
					q = (s*100000000);
					a = q.toString().split(".");
					a[0] = a[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
					p = a.join('.');
					jQuery("#bts-sts").val(p);
				}
			});
		});
	</script>
	
	<div id="bts-conv">
		<input type="text" id="bts-btc"> BTC = <input type="text" id="bts-sts"> Satoshi
	</div>
	
	{% elsif page.title == 'Satoshi to Bitcoin'  %}
	
	<script type="text/javascript">
		jQuery(function()
		{
			jQuery("#stb-sts").bind('input',function(){				
				s = jQuery("#stb-sts").val().toString().replace(/\,/g,'');
				if (s>=1000)
				{
					b = s.toString().split(".");
					b[0] = b[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
					c = b.join('.');
					jQuery("#stb-sts").val(c);
				}
				if (isNaN(s*2)) jQuery("#stb-btc").val(0);
				else 
				{
					q = (s/100000000).toFixed(8);
					a = q.toString().split(".");
					a[0] = a[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
					p = a.join('.');
					jQuery("#stb-btc").val(p);
				}
			});
		});
	</script>
	
	<div id="stb-conv">
		<input type="text" id="stb-sts"> Satoshi = <input type="text" id="stb-btc"> BTC
	</div>
	
	{% endif %}


</div>
