<h2>What is a Satoshi?</h2>
<p>Each bitcoin (BTC) is divisible to the 8th decimal place, so each BTC can be split into 100,000,000 units. Each unit of bitcoin, or 0.00000001 bitcoin, is called a satoshi. A Satoshi is the smallest unit of Bitcoin.</p>

<h2>How many Satoshis are in a Bitcoin?</h2>
<p>There are 100,000,000 satoshi in a BTC.</p> 

<h2>What is this site?</h2>
<p>Satoshi to Bitcoin is a Bitcoin converter/calculator. Right now, we offer two converters: Satoshi to BTC and BTC to Satoshi.</p>

<h2>Who made this site?</h2>
<p>This site is brought to you by <a href="https://www.buybitcoinworldwide.com/">Buy Bitcoin Worldwide</a>. BBWW will help you buy bitcoins anywhere in the world. Click below to get started!</p>

<center><a href="https://www.buybitcoinworldwide.com/"><img src="/img/bbww.png" /></a></center>